snippet modm "module Main"
module Main (..) where
endsnippet

snippet imph "import Html"
import Html exposing ($0)
endsnippet

snippet impe "import Effects"
import Effects exposing($0)
endsnippet

snippet impt "import Task"
import Task
endsnippet
